#map{
    width:100%;
    height:400px;
    outline:5px #69f0ae solid;
    margin-top:20px;
}

button,input{
    background-color:#DBF4E8;
    border-radius:20px;
    padding:1%;
    border:none;
    margin:0 10px;
    font-size:0.9em;
    border:5px #69f0ae solid;
}

img{
    height:50px;
    width:50px;
}


header{
    background-color:#ACDFC6;
    border:5px #69f0ae solid;
    margin:10px;
    color:rgba(0,0,0,0.87);
}
*{
    text-align:center;
}

body{    
    background-color:#4caf50;
}